body {
    margin:0;
    padding:0;
    font-family: avenir heavy,sans-serif;
}

header {
    background-color: rgba(35,112,104,0.8);
    color: #FAECD4;
    width:100%;

}

a {
    text-decoration: none;
    color: black;
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding:10px;
    align-items: center;
    /* border: 1px solid white;
    border-radius: 50px;
    background-color: rgba(245, 245, 245,0.9); */

    
}


button {
    margin-left:10px;
    text-decoration: none;
    border-radius: 20px;
    padding:10px;
    cursor: pointer;
    border:none;
}

.not-selected {
    background: #fff !important;
}
.not-selected:hover{
    background-color: lightgray;
}

.selected {
    background-color:yellow;
}


.header-title{
    text-align: center;
    margin-bottom: 100px;
    font-weight: bold;
    font-size: 32px;
}


.sub-text {
    font-size: 14px;
    border-bottom: 3px solid rgb(155, 155, 155);
    padding-bottom: 20px;
}

.main-faq {
    width: 80vw;
    font-size: 16px;
    box-sizing: border-box;
    
}

.main-faq {
    padding: 4em 2em;
}

.faq {
    list-style:none;
    max-width: 700px;
    margin: 0 auto;
    transition: all 0.5s ease-out
}

.faq li {
    border-bottom: 3px solid rgb(155, 155, 155);
}

.question {
    padding:1em 0;
    cursor: pointer;
    
}



.caret {
    display: inline-block;
    margin: 0 0.5em;
    width: 0;
    height: 0;
    border: solid black;
    border-width: 0 3px 3px 0;
    padding: 3px;
    transition: all 0.3s ease-in

}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.faq p {
    color: #888;
    line-height: 25px;
}

.answer {
    overflow: hidden;
    height:0;
    padding: 0 1em 0 3.3em;
    transition: all 0.5s ease-out
   
}

.answer-opened{
    padding: 1em 1em 2em 3.3em;
    height: initial;
    transition: all 0.5s ease-in;

}

li:hover {
    background-color: rgba(234, 228, 228, 0.7);
    border-radius: 10px 10px 0px 0;
    width: 100%;
}

.caret-rotate {
    transform:rotate(220deg);
      
}